<% title 'Reenviar e-mail de confirmação' %>

<div id="login">
  <h2>Reenviar e-mail de confirmação</h2>
  <hr></hr>
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <% unless resource.errors.empty? %>
      <div class="alert alert-warning">
        <ul>
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit 'Reenviar', class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
