<% title 'Editar seus dados' %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>

  <div class="form-title">
    <h2>Editar seus dados</h2>
  </div>

  <% unless resource.errors.empty? %>
    <div class="alert alert-warning">
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fieldset">
    <div class="form-group">
      <%= f.label :name, class: 'col-sm-3 control-label' %>
      <div class="col-sm-8">
        <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, class: 'col-sm-3 control-label' %>
      <div class="col-sm-8">
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="alert alert-info">
        <p>Aguardando confirmação do e-mail: <strong><%= resource.unconfirmed_email %></strong></p>
      </div>
    <% end %>
  </div>

  <div class="form-title">
    <h2>Modificar sua senha</h2>
  </div>

  <div class="fieldset">
    <div class="form-group">
      <%= f.label :password, class: 'col-sm-3 control-label' %>

      <div class="col-sm-8">
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class: 'col-sm-3 control-label'  %>

      <div class="col-sm-8">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-title">
    <h2>Confirme suas mudanças colocando sua senha</h2>
  </div>

  <div class="fieldset">
    <div class="form-group">
      <%= f.label :current_password, class: 'col-sm-3 control-label' %>

      <div class="col-sm-8">
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Atualizar Informações', class: 'btn btn-primary btn-medium' %>
  </div>
<% end %>

<%= button_to 'Não gostei quero ir embora :(', registration_path(resource_name), data: { confirm: 'Não se vá :(. Tem certeza que quer ir?' }, class: 'btn btn-link link-red', method: :delete %>
