<% title 'Cadastro' %>

<div id="login">
  <div class="title">
    <h2>Vamo nessa!</h2>
    <p>Crie sua conta ou, caso já tenha, faça <%= link_to 'login', new_session_path(resource_name) %></p>
    <hr>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <% unless resource.errors.empty? %>
      <div class="alert alert-warning">
        <ul>
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label 'Nome' %>
      <%= f.text_field :name, autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label 'Senha' %>
      <% if @validatable %>
        <span class="tip">(mínimo de <%= @minimum_password_length %> caracteres)</span>
      <% end %>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label 'Confirme sua senha' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit 'Entrar agora', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
