

<% title "Editar anúncio - #{@ad.product}" %>

<%= form_for [:my, @ad], html: { class: 'form-horizontal' } do |f| %>
  <div class="form-title clearfix">
    <h2 class="pull-left">Imagens do seu anúncio</h2>
    <p class="pull-right">Capricha aí, você pode ter até <strong>85%</strong> mais de chance de vender. <a class=" important-info" href="#">Política de imagens</a></p>
  </div>

  <% unless @ad.errors.empty? %>
    <div class="alert alert-warning">
      <ul>
        <% @ad.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fieldset">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="http://placehold.it/164x164">
        </a>
      </div>

      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="http://placehold.it/164x164">
        </a>
      </div>

      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="http://placehold.it/164x164">
        </a>
      </div>

      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="http://placehold.it/164x164">
        </a>
      </div>
    </div>
  </div>

  <div class="form-title clearfix">
    <h2 class="pull-left">Dados do seu produto</h2>
    <a class="pull-right important-info" href="#">Veja aqui as regras para os anúncios</a>
  </div>
  <div class="fieldset">
    <div class="form-group">
      <%= f.label :product, class: 'col-sm-3 control-label' %>
      <div class="col-sm-8">
        <%= f.text_field :product, autofocus: true, class: 'form-control', placeholder: 'Nome do seu produto' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :price, class: 'col-sm-3 control-label' %>
      <div class="col-sm-8">
        <%= f.text_field :price, value: number_to_currency(@ad.price, unit: 'R$ ', separator: ",", delimiter: ""), class: 'form-control', placeholder: 'Marca do seu produto', rel: 'currency' %>
        <p class="info-file">Valor em BRL (R$). Ex.: R$ 23,99</p>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :brand, class: 'col-sm-3 control-label' %>
      <div class="col-sm-8">
        <%= f.text_field :brand, class: 'form-control', placeholder: 'Marca do seu produto' %>
        <p class="info-field">Sugestões: Hurley, Oakley, Rip Curl, GoPro, etc..</p>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :category, class: 'col-sm-3 control-label' %>
      <div class="col-sm-8">
        <%= f.select :category_id, options_from_collection_for_select(Category.all, 'id', 'name'), { include_blank: 'Selecione a categoria' }, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :sport, class: 'col-sm-3 control-label' %>
      <div class="col-sm-8">
        <%= f.select :sport_id, options_from_collection_for_select(Sport.all, 'id', 'name'), { include_blank: 'Selecione o esporte' }, class: 'form-control'  %>
        <p class="info-field">Isso melhorará o rankeamento do seu produto, <a href="#">veja por quê</a>.</p>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :description, class: 'col-sm-3 control-label' %>
      <div class="col-sm-8">
        <div class="description-box">
          <%= f.text_area :description, class: 'form-control', rows: 10  %>
          <div id="md-preview" style="display: none;">

          </div>
        </div>
        <p class="info-field">
          <span id="chars-counter">140</span> caracteres.
          <button id="btn-preview" class="btn btn-link">Veja como vai ficar</button></p>
      </div>
    </div>

    <div class="actions">
      <%= f.submit 'Criar anúncio', class: 'btn btn-primary btn-medium', name: '' %>
    </div>
  </div>
<% end %>
