<% title 'Meus anúncios' %>

<% if flash[:saved].present? %>
  <%= render partial: 'modals/new_advertisement', locals: { notice: notice } %>
<% end %>

<div class="form-title">
  <h2>Anúncios Ativos</h2>
</div>

<div class="fieldset">
  <% if @ads.empty? %>
    <div class="no-results">
      <h4>Você ainda não tem nenhum anúncio</h4>

      <%= link_to 'Comece agora!', new_my_advertisement_path, class: 'btn btn-primary btn-medium' %>
    </div>
  <% else %>
  <table class="table" id="table_ads">
    <thead>
      <tr>
        <th width="70%">Produto</th>
        <th width="20%">Expira em</th>
        <th width="10%"></th>
      </tr>
    </thead>

    <tbody>
      <% @ads.each do |ad| %>
        <tr>
          <td>
            <span class="label label-info">aguardando aprovação</span>
            <%= link_to edit_my_advertisement_path(ad) do %>
              <%= ad.product %>
            <% end %>
          </td>
          <td><%= distance_of_time_in_words(DateTime.now, ad.expires_at) %></td>
          <td>
            <%= button_to '#', class: 'btn btn-danger' do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>
