
<ul class="login-links">
  <%- if controller_name != 'sessions' %>
    <li><%= link_to 'Fazer login', new_session_path(resource_name) %><br /></li>
  <% end -%>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <li><%= link_to 'Esqueceu sua senha?', new_password_path(resource_name) %></li>
  <% end -%>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <li><%= link_to 'Não recebeu o e-mail de confirmação?', new_confirmation_path(resource_name) %></li>
  <% end -%>
</ul>








<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%>
