<div id="login">
  <h2>Modifique sua senha</h2>
  <hr>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <% unless resource.errors.empty? %>
      <div class="alert alert-warning">
        <ul>
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <%= f.label :password, 'Nova senha' %>
      <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, 'Confirme sua nova senha' %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit "Mude minha senha!", class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
