<%= title 'Esqueci minha senha' %>

<div id="login">
  <h2>Esqueceu sua senha?</h2>
  <p>Não se preocupe, enviaremos as instruções para modificar sua senha</p>
  <hr>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <% unless resource.errors.empty? %>
      <div class="alert alert-warning">
        <ul>
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Seu e-mail' %>
    </div>

    <div class="actions">
      <%= f.submit 'Enviar', class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
