<% title 'Tudo para esportes radicais' %>

<% if notice.present? %>
  <%= render partial: 'modals/message', locals: { notice: notice } %>
<% end %>

<header id="header-home">
  <div class="overlay inset-bigger-section">
    <div class="container">
      <nav class="navbar menu-top" id="menu-top">
        <%= link_to 'Quiverbox', root_path, class: 'navbar-brand' %>

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="dropdown">
              <%= link_to '#', id: 'logged-user', class: 'dropdown-toggle', data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' } do %>
                <%= current_user.name  %>
                <span class="caret"></span>
              <% end %>
              <ul class="dropdown-menu">
                <li><%= link_to 'Meus anúncios', my_advertisements_path %></li>
                <li><%= link_to 'Minha conta', edit_user_registration_path %></li>
                <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to 'Entrar', new_user_session_path  %></li>
            <li><%= link_to 'Cadastre-se', new_user_registration_path %></li>
          <% end %>
          <li><a href="#" class="btn btn-success">Quero Vender</a></li>
        </ul>
      </nav>

      <div class="row">
        <div class="main-title col-md-12 fadeIn animated">
          <h2>Tudo para esportes radicais</h2>
          <h3>Compre e venda qualquer produto relacionado à esportes radicais</h3>
        </div>
      </div>

      <div class="row col-md-12">
        <div class="search-bar radius">
          <form class="clearfix" action="/">
            <input type="text" class="col-md-10" placeholder="Procure pranchas, skates, equipamentos, camêras e velas">
            <button type="submit" class="btn btn-primary col-md-2">Buscar</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</header>

<section id="featured" class="inset-section">
  <div class="container">
    <div class="section-title">
      <h2>Veja os destaques que separamos pra você</h2>
      <p>Sejam pranchas, rodinhas para skate, quilhas, pipas para kitesurf, não importa. Nós anunciamos os <strong>melhores produtos!</strong></p>
    </div>

    <div class="row">
      <% @featured.each do |advertisement| %>
        <div class="col-md-4">
          <a href="#" class="product">
            <div class="image zooming">
              <%= image_tag 'http://img.olx.com.br/images/38/384513032870795.jpg', alt: advertisement.product %>
              <span>
                <%= number_to_currency(advertisement.price, unit: 'R$ ', separator: ",", delimiter: "") %>
              </span>
            </div>

            <div class="caption clearfix">
              <div class="name pull-left">
                <h3><%= advertisement.product %></h3>
                <p><%= advertisement.brand %></p>
              </div>


            </div>
          </a>
        </div>
      <% end %>
    </div>

    <div class="big-actions">
      <a href="#" class="btn btn-default btn-medium">Explorar</a>
    </div>
  </div>
</section>

<section id="benefits" class="inset-section">
  <div class="container">
    <div class="section-title">
      <h2>Por que anunciar com a gente?</h2>
      <p><strong>nenhum</strong> custo, <strong>maior</strong> facilidade para seus compradores e você atinje pessoas que <strong>realmente estão buscando</strong> esportes radicais</p>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="item radius bounceIn animated">
          <span class="glyphicon glyphicon-piggy-bank pull-left"></span>
          <h4>Nenhum custo para o anunciante</h4>
        </div>
      </div>

      <div class="col-md-4">
        <div class="item radius bounce bounceIn animated">
          <span class="glyphicon glyphicon-flash pull-left"></span>
          <h4>Facilidade e Rapidez</h4>
        </div>
      </div>

      <div class="col-md-4">
        <div class="item radius bounce bounceIn animated">
          <span class="glyphicon glyphicon-bullhorn pull-left"></span>
          <h4>Atinja as pessoas corretas</h4>
        </div>
      </div>
    </div>
  </div>

  <p>Não cobramos nenhum centavo para você anunciar com a gente, mas temos <a href="#">algumas regras</a>.</p>
  <p>Tudo isso para atingirmos o <strong>maior número</strong> de praticantes de esportes radicais!</p>
</section>



<section id="get-started">
  <div class="container">
    <div class="clearfix">
      <div class="pull-left">
        <h3>E aí? Gostou? Entre agora e cadastre-se gratuitamente</h3>
        <p>Tem um monte de gente querendo comprar tudo para esportes radicais. Agiliza!</p>
      </div>

      <%= link_to 'quero vender!', new_user_registration_path, class: 'btn btn-success pull-left' %>
    </div>
  <div>
</section>
