<nav class="navbar navbar-white nav-bigger <%= type %>" style="display: none;" id="navbar-fixed">
  <div class="container">
    <%= link_to 'Quiverbox', root_path, class: 'navbar-brand' %>
    <form class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" class="form-control" />
      </div>
    </form>

    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><a href="#">Como Funciona</a></li>
        <li><a href="#"><%= current_user.name %></a></li>
      <% else %>
        <li><%= link_to 'Cadastre-se', new_user_registration_path %></li>
      <% end %>
      <li>
        <%= link_to new_my_advertisement_path, class: 'btn btn-success' do %>
          QUERO VENDER
        <% end %>
      </li>
    </ul>
  </div>
</nav>
