<% title 'Login' %>

<div id="login">
  <div class="title">
    <h2>Faça seu login</h2>
    <hr>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: '' }) do |f| %>
    <% if alert.present? %>
      <div class="alert alert-warning">
        <p><%= alert %></p>
      </div>
    <% end %>

    <% if notice.present? %>
      <div class="alert alert-warning">
        <p><%= notice %></p>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label 'Senha', for: :user_password %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="clearfix links">
      <% if devise_mapping.rememberable? -%>
        <div class="pull-left">
          <%= f.check_box :remember_me %>
          <%= f.label 'Mantenha-me logado' %>
        </div>

        <div class="pull-right">
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to 'Esqueci minha senha', new_password_path(resource_name), id: 'forget-password-link' %>
          <% end -%>
        </div>
      <% end -%>
    </div>

    <div class="actions">
      <%= f.submit "Entrar", class: 'btn btn-primary' %>
    </div>
  <% end %>
    <div class="new-account">
      <p>Ainda não é cadastrado?</p>
      <%= link_to 'crie sua conta agora mesmo', new_user_registration_path %>
    </div>
  </div>
