<div class="modal fade in" id="modal-message">
  <div class="modal-dialog">
    <div class="modal-content radius">
      <div class="modal-header clearfix">
        <h4>Verifique sua caixa de email</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p><%= notice %></p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-medium" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
