<div class="modal fade in" id="modal-message">
  <div class="modal-dialog">
    <div class="modal-content radius">
      <div class="modal-header clearfix">
        <h4>Parabéns, seu anúncio foi criado!</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body important-message">
        <p>E aí, <%= current_user.name %>, beleza?</p>

        <p>Seu anúncio foi criado com sucesso, agora ele vai ser revisado pela nossa equipe e em até <strong>10 minutos</strong>
          ele já estará disponível no Quiverbox.</p>

          <p>Caso haja algum problema que não podemos resolver, entraremos em contato.</p>

        <p>Aloha!</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-medium" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
