/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/bootstrap.min.css
 *= require nprogress/nprogress.css
 *= require base
 *= require_tree .
 *= require_self
 */

/* General */
* {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #2c3e50;
  font-size: 13px;
}

body#page,
body#dashboard {
  background: #f4f2f0;
}

ul {
  margin: 0;
  padding: 0
}

ul li {
  list-style: none;
}

.radius {
  border-radius: 4px;
}

.field_with_errors input {
  border: 1px solid #c0392b !important;
}

h2, h3 {
  margin: 0;
}

/* Navbar stuff */

#navbar-fixed {
  -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
}

.btn-link.link-red,
a.important-info {
  color: #c0392b;
  font-weight: normal;
  text-decoration: underline;
}

.inset-bigger-section {
  -webkit-box-shadow: inset 0px -30px 109px -34px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px -30px 109px -34px rgba(0,0,0,0.75);
  box-shadow: inset 0px -30px 109px -34px rgba(0,0,0,0.75);
}

.inset-section {
  -webkit-box-shadow: inset 0px -30px 109px -78px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px -30px 109px -78px rgba(0,0,0,0.75);
  box-shadow: inset 0px -30px 109px -78px rgba(0,0,0,0.75);
}

#navbar-fixed {
  visibility:visible;
  opacity:1;
  transition-delay:0s;
}

/* Dashboard */

.no-results {
  text-align: center;
}

.no-results h4 {
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 30px;
}

/* Footer */

footer {
  padding: 40px 0;
  background: #233140;
  color: #FFF;
}

footer .menu h4 {
  color: #FFF;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 0 10px 0;
}

footer .menu ul li {
  margin-bottom: 4px;
}

footer .menu ul li a {
  color: #FFF;
  font-weight: 100;
}

footer .menu ul li a:hover {
  text-decoration: underline;
}
