/* Alerts */

.alert ul {
  padding: 0;
}

.alert ul li {
  list-style: none;
  font-size: 14px;
  margin-bottom: 5px;
}

.alert ul li:last-child {
  margin-bottom: 0;
}

/* Navbar */

a.navbar-brand {
  background: url(logos/white-logo.png) no-repeat;
  height: 50px;
  width: 255px;
  display: block;
  text-indent: -999px;
}

.navbar.nav-bigger {
  padding: 15px 0;
}

.navbar-nav li {
  margin: 0 20px;
}

.navbar-nav li a {
  padding: 10px;
  font-size: 14px;
  font-weight: lighter;
}

.navbar-nav li a:hover {
  background-color: transparent;
  text-decoration: underline;
}

.navbar-nav li a.btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
}

.navbar-nav li a.btn:hover {
  text-decoration: none;
}

.navbar-white {
  background: #FFF;
  border-bottom: 1px solid #ecf0f1;
}

.navbar-white .navbar-nav li {
  margin: 0 10px;
}

.navbar-white .navbar-nav li a {
  font-size: 13px;
  font-weight: normal;
}

.navbar-white .navbar-nav li a span.glyphicon {
  margin: 2px 3px 0 0;
}

.navbar-white a.navbar-brand {
  background: url(logos/blue-logo.png) no-repeat;
  height: 35px;
  width: 179px;
  margin: 3px 20px 0 0;
}

.navbar-white input[type='text'] {
  border: 1px solid #F9F9F9;
  box-shadow: none;
}

.navbar-form {
  margin: 0
}

/* HR Lines */

hr {
  margin: 0 auto;
  border: 2px solid #3498db;
  width: 60px;
}

/* Titles */

h2, h4 {
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: bold;
}

/* Buttons */

a {
  color: #2c3e50;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

.btn {
  border-radius: 2px;
  border: 0;
  transition: background-color 0.5s ease;
}

.btn span.glyphicon {
  margin-right: 4px;
  color: #FFF;
}

.btn.btn-medium {
  padding: 8px 30px;
  text-transform: uppercase;
}

.btn.btn-bigger {
  padding: 8px 40px;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
}

.btn.btn-default {
  background: #95A5A6;
  box-shadow: 0 2px 0 #6C7A89;
  color: #FFF;
}

.btn.btn-default:hover {
  background: #6C7A89;
}

.btn.btn-success,
.btn.btn-success:visited {
  background: #2ecc71;
  box-shadow: 0 2px 0 #27ae60;
  color: #FFF;
}

.btn.btn-success:hover,
.btn.btn-success:active {
  border: 0;
  background: #27ae60;
}

.btn.btn-primary {
  background: #3498db;
  box-shadow: 0 2px 0 #2980b9;
}

.btn.btn-primary:hover {
  background: #2980b9;
}

/* Inputs */

label {
  font-weight: 400;
}

input[type='text'],
input[type='email'],
input[type='password'],
select.form-control,
textarea.form-control {
  border-radius: 2px;
  padding: 20px 15px;
  border: 0;
}

.form-title p,
.form-horizontal .form-group p,
.form-horizontal .form-group p span {
  color: #999;
  text-align: right;
  margin: 0;
}
.form-horizontal .form-group p {
  margin-top: 5px;
}

.form-horizontal .form-group p .btn-link {
  margin-left: 10px;
}

.form-horizontal .form-group p a,
.form-horizontal .form-group p .btn-link {
  color: #999;
  text-decoration: underline;
  padding: 0;
  font-size: 13px;
}

/* Modal */

.modal-content {
  padding: 20px;
}

.modal-header {
  padding: 0 0 10px 0;
}

  .modal-header h4 {
    margin: 0;
    float: left;
  }

  .modal-header .close {
    float: right;
  }

.modal-body {
  padding: 0;
  margin: 20px 0;
}

.modal-body.important-message p,
.modal-body.important-message strong {
  font-size: 16px;
}

.modal-footer {
  padding: 10px 0 0 0;
  border-top: 0;
  text-align: center;
}


/* Dropdown */
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
  background: transparent;
}

.dropdown-menu {
  border-radius: 2px;
  padding: 0;
}

.dropdown-menu li {
  margin: 0 10px;
}

.dropdown-menu li a {
  padding: 10px;
}

/* Nav Pills */
.nav-pills li a {
  border-radius: 0;
  font-size: 14px;
  font-weight: normal;
}

.nav-pills li a span.glyphicon {
  margin-right: 5px;
}

.nav-pulls li a .glyphicon:hover {
  color: #FFF;
}

.nav-pills li a:hover {
  background: #3498db;
  color: #FFF;
}

/* Table */

.table thead {
  background: #ccc;
  margin-bottom: 20px;
  border-radius: 4px;
}

.table thead tr th {
  color: #FFF;
  padding: 10px;
  text-transform: uppercase;
}

.table tbody tr {
  border-bottom: 1px solid #F9F9F9;
  padding: 10px 0;
}

.table tbody tr span.label {
  text-transform: uppercase;
  margin-right: 6px;
}

.table tbody tr:last-child {
  border-bottom: 0;
}

.table tbody tr td,
.table tfoot tr td {
  font-size: 14px;
  vertical-align: middle;
}

.table tbody tr td:last-child,
.table thead tr th:last-child,
.table tfoot tr td:last-child {
  text-align: right;
}

.table tfoot tr td:last-child {
  font-weight: bold;
}

.table tbody tr td a {
  font-weight: normal;
  text-decoration: underline;
  color: #333;
}

.table tfoot tr td,
.table tbody tr td,
.table thead tr th {
  border: 0;
}
