body#dashboard .menu-user,
body#dashboard .content {
  background: #FFF;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

body#dashboard .menu-user {
  min-height: 360px;
}

body#dashboard .content {
  padding: 20px;
  min-height: 560px;
}

body#dashboard .form-title {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

body#dashboard .form-title h2 {
  font-size: 1.4em;
}

body#dashboard .content input[type='email'],
body#dashboard .content input[type='password'],
body#dashboard .content input[type='text'],
body#dashboard .content select.form-control,
body#dashboard .content textarea.form-control {
  border: 1px solid #ccc;
}

body#dashboard .content .fieldset {
  margin: 40px 0;
}

body#dashboard .content .form-horizontal {
  margin-bottom: 40px;
}

body#dashboard .content .form-horizontal .alert {
  margin-top: 20px;
}

body#dashboard .content .form-horizontal label {
  margin-top: 7px;
}

body#dashboard .content .form-horizontal .form-group {
  margin-bottom: 20px;
}

body#dashboard .content .form-horizontal .description-box {
  min-height: 242px;
}

body#dashboard .content .form-horizontal .actions {
  text-align: center;
  margin-top: 40px;
}

body#dashboard .menu-user .image {
  text-align: center;
  padding: 30px 0 15px 0;
}

body#dashboard .menu-user .image img {
  height: 130px;
}

body#dashboard .menu-user .image h4 {
  margin-top: 20px;
  font-weight: lighter;
}

body#dashboard .important-ad {
  margin-top: 20px;
}
