#header-home {
  background: url(backgrounds/skateboarder.jpg) no-repeat;
  background-size: cover;
  background-position: fixed;
}

#header-home .overlay {
  padding-top: 40px;
  padding-bottom: 80px;
}

#header-home .navbar {
  border: 0;
}

#header-home .menu-top a {
  color: #FFF;
}

#header-home .main-title {
  text-align: center;
  margin: 60px 0 30px 0;
  color: #FFF;
}

#header-home .main-title h2 {
  font-size: 3em;
  font-weight: 600;
}

#header-home .main-title h3 {
  font-size: 1.5em;
  font-weight: 300;
}

#header-home .search-bar {
  width: 70%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

#header-home .search-bar input[type='text'] {
  font-size: 16px;
  padding: 15px 15px;
  border-radius: 2px 0 0 2px;
}

#header-home .search-bar button {
  border-radius: 0 2px 2px 0;
  padding: 13px;
  font-weight: 600;
  font-size: 1.4em
}

#header-home .dropdown-menu {
  background: rgba(0, 0, 0, 0.4);
  margin-right: 10px;
  min-width: 260px;
}

section .section-title {
  text-align: center;
  margin: 0 0 40px 0;
}

section .section-title h2 {
  font-weight: normal;
  margin-bottom: 10px;
}

section {
  padding: 60px 0;
}

section p {
  text-align: center;
  margin: 0;
  font-size: 16px;
  color: #666;
}

section p strong {
  font-size: 20px;
}

section p a {
  font-size: 16px;
  font-weight: normal;
  text-decoration: underline;
  color: #333;
}

section p a:hover {
  text-decoration: underline;
}

section .big-actions {
  margin-top: 20px;
  text-align: center;
}

section .big-actions .btn {
  padding: 10px 60px;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

section#benefits {
  background: #f4f2f0;
}

section#benefits .container {
  margin-bottom: 30px;
}

section#benefits .item {
  background: #52A3D9;
  padding: 20px;
}

section#benefits .item:hover {
  background: #3498db;
}

section#benefits .item span {
  padding: 10px;
  font-size: 50px;
  color: #FFF;
  margin-right: 10px;
}

section#benefits .item h4 {
  color: #FFF;
  font-size: 24px;
  font-weight: lighter;
}

section#featured .product {
  display: block;
  margin-bottom: 40px;
}

section#featured .product:hover span {
  display: block;
}

section#featured .product .image {
  overflow: hidden;
  -webkit-box-shadow: inset 0px -30px 109px -78px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px -30px 109px -78px rgba(0,0,0,0.75);
  box-shadow: inset 0px -30px 109px -78px rgba(0,0,0,0.75);
}

section#featured .product .caption {
  margin-top: 10px;
}

section#featured .product .caption p {
  color: #999;
  text-align: left;
  font-weight: normal;
  font-size: 13px;
  margin-top: 4px;
}

section#featured .product .caption .name {
  margin-top: 6px;
}

section#featured .product .caption h3 {
  font-size: 16px;
  text-transform: uppercase;
}

section#featured .product span {
  font-size: 20px;
  font-weight: bold;
  background: rgba(230, 126, 34, 0.8);
  padding: 10px;
  color: #FFF;
  position: absolute;
  top: 20px;
  display: none;
  right: 15px;
}

section#featured .product .image img {
  width: auto;
  height: 250px;
}

section#get-started {
  padding: 40px 0;
  background: #34495e;
}

section#get-started h3,
section#get-started p {
  color: #FFF;
  margin: 2px 0;
  text-align: left;
}

section#get-started p {
  font-weight: 100;
}

section#get-started .clearfix {
  margin: 0 auto;
  width: 85%;
}

section#get-started a.btn {
  margin: 0 0 0 50px;
  padding: 12px 40px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
