#login {
  width: 40%;
  margin: 60px auto;
}

#login .title p,
#login .title p a {
  font-size: 16px;
}

#login .title p {
  margin: 5px;
}

#login h2 {
  text-align: center;
}

#login hr {
  margin-top: 10px;
  margin-bottom: 55px;
}

#login .form-group {
  margin-bottom: 30px;
  margin-top: 20px;
}

#login .form-group:last-child {
  margin-bottom: 0;
}

#login .links {
  margin: 0 0 40px 0;
}

#login .actions {
  text-align: center;
  margin: 40px 0 80px 0;
}

#login .actions .btn {
  padding: 8px 50px;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

#login .form-group span.tip {
  float: right;
  font-size: 12px;
}

#login .new-account,
#login p {
  text-align: center;
}

#login .new-account p {
  margin: 0;
}

#login .new-account a {
  font-size: 18px;
}

#login ul.login-links {
  text-align: center;
  padding: 0;
}

#login ul.login-links li {
  display: inline-block;
  list-style: none;
  border-right: 1px solid #999;
  padding-right: 10px;
  margin-right: 10px;
}

#login ul.login-links li:last-child {
  border-right: 0;
  padding-right: 0;
  margin-right: 0;
}
