#md-preview ul li {

  color: #999;
}
#md-preview {
  margin-top: 10px;
}

#md-preview p,
#md-preview h2,
#md-preview h1,
#md-preview ul li {
  text-align: left;
  font-size: 13px;
}

#md-preview ul {
  padding: 0 30px;
  margin: 10px 0;
}

#md-preview h2 {
  font-weight: normal;
  margin-bottom: 10px;
}
