<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Quiverbox</title>
  <%= import_font_family 'Open+Sans:300,400,600' %>
  <%= import_font_family 'Montserrat:400' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="page">

  <header>
    <nav class="navbar navbar-white nav-bigger navbar-static-top">
      <div class="container">
        <%= link_to 'Quiverbox', root_path, class: 'navbar-brand' %>
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" />
          </div>
        </form>

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><a href="#">Ajuda</a></li>
            <li><a href="#">Minhas vendas</a></li>
          <% else %>
            <li><%= link_to 'Cadastre-se', new_user_registration_path %></li>
          <% end %>
          <li><a href="#" class="btn btn-success">Anuncie Grátis</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
