<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Quiverbox</title>
  <meta charset="UTF-8">
  <%= import_font_family 'Open+Sans:300,400,600' %>
  <%= import_font_family 'Montserrat:400' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="dashboard">

  <header>
    <nav class="navbar navbar-white nav-bigger navbar-static-top">
      <div class="container">
        <%= link_to 'Quiverbox', root_path, class: 'navbar-brand' %>
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" />
          </div>
        </form>

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-question-sign"></span>
                Ajuda</a>

            </li>
            <li><a href="#"><%= current_user.name %></a></li>
          <% else %>
            <li><%= link_to 'Cadastre-se', new_user_registration_path %></li>
          <% end %>
          <li>
            <%= link_to new_my_advertisement_path, class: 'btn btn-success' do %>
              QUERO VENDER
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="menu-user radius">
          <div class="image">
            <%= image_tag 'placeholders/user-placeholder-large.png', class: 'img-circle' %>

            <% if user_signed_in? %>
              <h4><%= current_user.name %></h4>
            <% end %>
          </div>

          <ul class="nav nav-pills nav-stacked">
            <li>
              <%= link_to my_advertisements_path do %>
                <span class="glyphicon glyphicon-usd"></span>
                Meus anúncios
              <% end %>
            </li>

            <li>
              <%= link_to '#' do %>
                <span class="glyphicon glyphicon-inbox"></span>
                Mensagens
                <span class="label label-danger pull-right">2</span>
              <% end %>
            </li>

            <li>
              <%= link_to edit_user_registration_path do %>
                <span class="glyphicon glyphicon-user"></span>
                Minha conta
              <% end %>
            </li>
          </ul>
        </div>

        <div class="important-ad">
          <%= link_to new_my_advertisement_path, class: 'btn btn-success btn-bigger' do %>
            <span class="glyphicon glyphicon-usd"></span>
            Anuncie Grátis
          <% end %>
        </div>
      </div>

      <div class="col-md-9">
        <% if notice.present? %>
          <div class="alert alert-success">
            <p><strong>Sucesso!</strong> <%= notice %></p>
          </div>
        <% end %>

        <div class="content radius">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
