<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Quiverbox</title>
  <%= import_font_family 'Open+Sans:300,400,600' %>
  <%= import_font_family 'Montserrat:400' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="home">
  <%= render partial: 'layouts/navbars/navbar_white', locals: { type: 'navbar-fixed-top' } %>

  <%= yield %>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="menu">
            <h4>Quiverbox</h4>
            <ul>
              <li><a href="#">Como Funciona</a></li>
              <li><a href="#">Termos de Uso</a></li>
              <li><a href="#">Política de Privacidade</a></li>
              <li><a href="#">Contato</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3">
          <div class="menu">
            <h4>Quero Anunicar</h4>
            <ul>
              <li><a href="#">Preços</a></li>
              <li><a href="#">Política de Entrega</a></li>
              <li><a href="#">Política de Venda</a></li>
              <li><a href="#">Suporte</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3">
          <div class="menu">
            <h4>Marcas favoritas</h4>
            <ul>
              <li><a href="#">Billabong</a></li>
              <li><a href="#">GT Boards</a></li>
              <li><a href="#">Element</a></li>
              <li><a href="#">Flora Surfboards</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
